.intro{
    display: flex;
    height: 77vh;
    margin-top: 6rem;

}
.i-left{
    margin-left: 50px;
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
    gap: 2rem;

}
.i-name{
    display: flex;
    flex-direction: column;
}
.i-name>:nth-child(1){
    color:var(--black);
    font-weight: bold;
    font-size: 3rem;

}
.i-name>:nth-child(2){
    color:var(--orange);
    font-weight: bold;
    font-size: 3rem;
    
}
.i-name>:nth-child(3){
    font-weight: 100;
    font-size: 14px;
    color:var(--gray);
     margin-top: 2rem; ;

    
}
.i-button{
    width: 6rem;
    height: 2rem;
    width: fit-content;
}
.i-icons{
    margin-top: 3rem;
    display: flex;
    gap: 0rem;
   
}
.i-icons>*{
    transform: scale(0.5);
    height: 6rem;
}
.i-icons>*:hover{
cursor: pointer;
}
.i-right{
    flex: 1;
    position: relative;
}
.i-right>*{
    position: absolute;
    z-index: 1;

}
.i-right:nth-child(1){
    transform: scale(0.69);
    left: -9;
}
.i-right:nth-child(2){
    top: -4.6;
    transform: scale(0.69);
    left: -3;
}
.i-right:nth-child(3){
    transform: scale(1.4);
    left: 28%;
}
.pro{
    width: 300px;  
    height: auto;  
    text-align: center;  
    padding: 15px;  
    border: 3px solid red;
    border-radius: 20px;
 }